run = "npm start"
entrypoint = "backend/src/index.ts"

[nix]
channel = "stable-22_11"

[deployment]
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm start"]
deploymentTarget = "gce"
ignorePorts = false

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"

[languages.typescript.languageServer]
start = "typescript-language-server --stdio"

[env]
NODE_ENV = "production"
PORT = "3000"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 8080
