DB_USER=ruchidavda
DB_PASSWORD=Ruchi@#123
DB_NAME=period_tracker
DB_HOST=localhost
DB_PORT=5432
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
PORT=3000
NODE_ENV=development

# Redis Cache (for 95% faster predictions)
# deployed on redislabs.com free tier
# and attached in render
# REDIS_URL=

